@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500&display=swap'); 

.font-noto {
    font-family: 'Noto Sans JP', sans-serif;
}
@media only screen and (min-width: 320px) {
  
}

@media only screen and (min-width: 1024px) {
  html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    max-width: 1920px;
    max-height: 13765px;
    background-color: #fff;
  }

  body {
    margin: 0;
    padding: 0;
  }
  .navbar {
    width: 100%;
    background: #ff7c00;
    height: 80px;
    z-index: 10;
    text-align: center;
    box-shadow: -1px 9px 19px 0px rgba(114,90,120,0.75);
    
  }

  .navbar ul {
    list-style: none; 
    padding: 0;
    margin: 0;
    padding-top: 50px;
  }

  .navbar li {
    display: inline-block;
  }

  .navbar a {
    text-decoration: none;
    color: #fff;
    width: 250px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    overflow: hidden;
    position: relative;
    display: inline-block;
  }
  
  .navbar a::before,
    .navbar a::after {
   content: '';
    position: absolute;
    width: 90%;
    left: 0;
  }
  .navbar a::before {
    background-color: #140026;
    height: 3px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  .navbar a::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    color: #140026;
  }
  
  .navbar a:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
  }
  .navbar a:hover::after {
    transform: translate3d(0, 0, 0);
  }
  
  .navbar a span {
    display: inline-block;
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
  a:hover span {
    transform: translate3d(-200%, 0, 0);
  }

  .top {
    width: 100%; 
    background-image: url(./img/top-aki-haru.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 1250px;
    position: relative;
    display: block;
  }
  .top img {
    width: 100%;
    position: absolute;
    bottom: -500px;
  }

  #second {
    width: 100%; 
    background-image: url(./img/sec-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 1680px;
    position: relative;
    display: inline-block;
    justify-content: center;
    top: 500px;
  }

  .leaves img {
    position: absolute;
    top: -150px;
    width: 100%;
  }

  .title img {
    position: absolute;
    padding-top: 150px;
    margin-left: 160px;
  }

  .swiper {
    width: 80%;
    height: 80%;
    top: 400px;
  }

  .swiper-slide {
  /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-button-next img {
    margin-left: 20px;
  }

  .coupon-sec {
    position: absolute;
    top: 1300px;
    display: flex;
    justify-content: space-around;
    margin-left: 70px;
  }

  .coupon-1:hover, .coupon-1:focus, .coupon-1:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    filter: drop-shadow(0 20px 20px rgba(0, 0, 0, 0.70));
  }
  .coupon-2:hover, .coupon-2:focus, .coupon-2:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    filter: drop-shadow(0 20px 20px rgba(0, 0, 0, 0.70));
  }
}




